.profile__edit-button {
  width: 24px;
  height: 24px;
  background: transparent url(../../../images/icons/pencil.svg) center / contain no-repeat;
  padding: 0;
  border: 1px white solid;
  cursor: pointer;
  transition: opacity .4s;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 480px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
