.profile__add-button {
  width: 150px;
  height: 50px;
  background: transparent url(../../../images/icons/plus.svg) center / contain no-repeat;;
  padding: 0;
  border: 2px white solid;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity .4s;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    width: 240px;
  }
}

@media screen and (max-width: 480px) {
  .profile__add-button {
    width: 100%;
  }
}
